@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, abyss --prefersdark, cupcake, dracula;
}

.bg-prim {
  background-color: #14305f;
}

.btn-info {
  color: #ffffff;
}

.scrollHide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollHide::-webkit-scrollbar {
  display: none;
}

/* NEW */

/* .titleBarOntop {
  border-radius: var(--radius-3xl);
  background-color: rgba(74, 74, 74, 0.7);
  color: white;
} */
.bg5 {
  border-radius: var(--radius-3xl);
  background-color: rgba(74, 74, 74, 0.7);
  color: white;
}
.titleBarOntop {
  background: linear-gradient(
    to bottom,
    rgba(74, 74, 74, 0.7),
    /* Red, fully opaque */ rgba(74, 74, 74, 0.4),
    /* Red, 50% transparent */ rgba(74, 74, 74, 0) /* Red, fully transparent */
  );
}

.titleBarBigBG {
  border-radius: var(--radius-3xl);
  background-color: rgba(74, 74, 74, 0.7);
  color: white;
}

.titleBarOnScroll {
  border-radius: 0;
  background-color: #efeae6;
  color: black;
}

.menuNormal {
  width: 2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(infinity * 1px);
}

.menuActive {
  background-color: var(--color-black);
  color: var(--color-white);
}

.swal-width {
  width: 80% !important;
  border-radius: 10%;
}
